<section class="about-me" id="about">
    <img src="/shapes/hero-background-version-b.svg" alt="" aria-hidden="true" class="about-me__img-bg" />

    <div class="about-me__container">
        <div class="about-me__content">
            <h2 class="about-me__title">{{ 'ABOUT.TITLE' | translate }}</h2>

            <div class="about-me__intro-box">
                <div class="about-me__intro">
                    <p>{{ 'ABOUT.INTRO_GREETING' | translate }}</p>
                    <p>{{ 'ABOUT.INTRO_TEXT' | translate }}</p>
                    <p>{{ 'ABOUT.INTRO_CTA' | translate }}</p>
                </div>

                <ul class="about-me__features">
                    <li class="about-me__feature-item">
                        <div class="about-me__icon-box">
                            <app-icon name="location"></app-icon>
                        </div>
                        <p class="about-me__feature-text">{{ 'ABOUT.FEATURE_LOCATION' | translate }}</p>
                    </li>
                    <li class="about-me__feature-item">
                        <div class="about-me__icon-box">
                            <app-icon name="lightbulb"></app-icon>
                        </div>
                        <p class="about-me__feature-text">{{ 'ABOUT.FEATURE_MINDSET' | translate }}</p>
                    </li>
                    <li class="about-me__feature-item">
                        <div class="about-me__icon-box">
                            <app-icon name="puzzle"></app-icon>
                        </div>
                        <p class="about-me__feature-text">{{ 'ABOUT.FEATURE_METHOD' | translate }}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="about-me__photo-stack">
            <img ngSrc="shapes/photo-shadows.svg" width="820" height="900" class="about-me__img-shadows">

            <img ngSrc="img/hero-character-photo.png" width="820" height="900" class="about-me__img-photo">

            <img ngSrc="img/character-photo-mask.png" width="820" height="900" class="about-me__img-mask">
        </div>
    </div>
</section>