<section class="skills" id="skills">
    <div class="skills__container">

        <div class="skills__tech-zone">
            <div class="skills__category">
                <h3 class="skills__category-title">{{ 'SKILLS.CAT_FRONTEND' | translate }}</h3>
                <div class="skills__grid">
                    @for (skill of frontendSkills; track skill.name) {
                    <div class="skills__item">
                        <app-skills-icon [name]="skill.icon"></app-skills-icon>
                        <span>{{ skill.name }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="skills__category">
                <h3 class="skills__category-title">{{ 'SKILLS.CAT_BACKEND' | translate }}</h3>
                <div class="skills__grid">
                    @for (skill of backendSkills; track skill.name) {
                    <div class="skills__item">
                        <app-skills-icon [name]="skill.icon"></app-skills-icon>
                        <span>{{ skill.name }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="skills__category">
                <h3 class="skills__category-title">{{ 'SKILLS.CAT_DEVSECOPS' | translate }}</h3>
                <div class="skills__grid">
                    @for (skill of devSecOpsSkills; track skill.name) {
                    <div class="skills__item">
                        <app-skills-icon [name]="skill.icon"></app-skills-icon>
                        <span>{{ skill.name }}</span>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="skills__content">
            <h2 class="skills__title">{{ 'SKILLS.TITLE' | translate }}</h2>

            <p class="skills__description">{{ 'SKILLS.DESCRIPTION' | translate }}</p>

            <div class="skills__cta-box">
                <h4 class="skills__cta-title">
                    {{ 'SKILLS.CTA_TITLE' | translate }}<span class="skills__cta-highlight">{{
                        'SKILLS.CTA_TITLE_HIGHLIGHT' | translate }}</span>
                </h4>
                <p class="skills__cta-text">{{ 'SKILLS.CTA_TEXT' | translate }}</p>
                <app-button variant="primary" color="green" (click)="scrollToContact()">
                    {{ 'SKILLS.BTN_TEXT' | translate }}
                </app-button>
            </div>
        </div>

    </div>
</section>