@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.btn {
    @include flexbox(row, center, center, 5px);
    height: 32px; 
    min-width: 38px;
    padding: 5px 8px; 
    border-radius: 10px; 
    font-family: var(--font-family);
    font-size: var(--fs-base); 
    line-height: var(--line-height-tight); 
    cursor: pointer;
    background: transparent;
    color: var(--txt-primary); 
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &--language {
        border: 1px solid var(--clr-primary-1); 
        font-weight: var(--fw-normal); 

        &:hover:not(:disabled) {
            background-color: var(--clr-primary-2); 
            border-color: var(--clr-primary-2);
            color: var(--txt-primary); 
        }

        &:active:not(:disabled) {
            background-color: var(--txt-primary); 
            border-color: var(--txt-primary);
            color: var(--clr-primary-2); 
            font-weight: var(--fw-semi-bold);
        }
    }

    &--active {
        &.btn--language {
            background-color: var(--clr-primary-1);
            border-color: var(--clr-primary-1);
            color: var(--txt-primary); 
            font-weight: var(--fw-bold);
            cursor: default; 
        }
    }
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
