@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

:host {
    display: none;

    @include respond-to(md) {
        display: block;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(20, 29, 47, 0.92);
    z-index: 999;
    
    @include flexbox(column, flex-start, normal, 0);

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;

    &--open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

        &__header {
        @include flexbox(row, flex-start, center, 0);
        width: 100%;
        @include global_content_wrapper(); 
        
        padding-top: 37px; 
        box-sizing: border-box;

        @include respond-to(md) {
            padding-top: 40px; 
        }
    }

    &__logo-wrapper {
        pointer-events: none;
        cursor: default;
        width: 150px;
    }

    &__nav {
        flex: 1;
        @include flexbox(row, center, center, 0);
        margin-top: -60px;
    }

    &__list {
        list-style: none;
        @include flexbox(column, center, center, 29px);
        padding: 0;
        margin: 0;
    }

    &__item {
        height: 32px;
        @include flexbox(row, center, center, 0);
        overflow: visible;

        &--languages {
            @include flexbox(row, center, center, 0);
            margin-top: 14px;
        }
    }

    &__lang {
        font-family: var(--font-family);
        font-size: clamp(1.125rem, calc(1rem + 0.45vw), 23px);
        font-weight: var(--fw-normal); 
        line-height: 1.2;
        color: var(--txt-primary); 
        cursor: pointer;
        user-select: none;
        transition: opacity 100ms ease;

        &:hover {
            color: var(--clr-primary-1);
        }

        &--active {
            color: var(--clr-primary-1); 
            font-weight: var(--fw-semi-bold); 
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__divider {
        font-family: var(--font-family);
        font-size: clamp(1.125rem, calc(1rem + 0.45vw), 23px);
        color: var(--txt-primary); 
        margin: 0 12px;
        user-select: none;
    }

    &__link {
        font-family: var(--font-family);
        font-weight: var(--fw-normal);
        font-size: clamp(1.3rem, calc(1.08rem + 0.55vw), 23px); 
        line-height: 1.2;
        color: var(--txt-primary);
        text-decoration: none;
        @include flexbox(column, center, center, 6px);
        transition: color 100ms ease;

        &:hover {
            color: var(--clr-primary-1);
        }

        &--active {
            color: var(--clr-primary-1); 
        }

        &:active {
            opacity: 0.7;
        }
    }
}
