<div class="menu" [class.menu--open]="isOpen">
    <div class="menu__header">
        <app-logo class="menu__logo-wrapper"></app-logo>

        <button class="menu__close" type="button" aria-label="Menü schließen" (click)="closeMenu()">
            <span class="menu__close-line menu__close-line--top"></span>
            <span class="menu__close-line menu__close-line--bottom"></span>
        </button>
    </div>

    <nav class="menu__nav">
        <ul class="menu__list">
            <li class="menu__item"><a href="#about" class="menu__link" (click)="selectSection('about', $event)">{{
                    'NAV.ABOUT' | translate }}</a></li>
            <li class="menu__item"><a href="#skills" class="menu__link" (click)="selectSection('skills', $event)">{{
                    'NAV.SKILLS' | translate }}</a></li>
            <li class="menu__item"><a href="#portfolio" class="menu__link"
                    (click)="selectSection('portfolio', $event)">{{ 'NAV.PORTFOLIO' | translate }}</a></li>
            <li class="menu__item"><a href="#contact" class="menu__link" (click)="selectSection('contact', $event)">{{
                    'NAV.CONTACT' | translate }}</a></li>

            <li class="menu__item menu__item--languages">
                <span class="menu__lang" [class.menu__lang--active]="currentLang === 'EN'"
                    (click)="selectLanguage('EN')">EN</span>
                <span class="menu__divider">/</span>
                <span class="menu__lang" [class.menu__lang--active]="currentLang === 'DE'"
                    (click)="selectLanguage('DE')">DE</span>
            </li>
        </ul>
    </nav>
</div>